@import url('./colores.css');

/*.container{
    background-color:rgb(216,248,225);
}*/
header {
    /*flex: horizontal*/
    display: flex;
    /*altura minima*/
    min-height: 90px;
    background-color: var(--color-nav);
    /* background-color: rgb(30, 126, 62); */
    /*eje principal*/
    justify-content: space-between;
    /*alinear verticalmente*/
    align-items: center;
    padding: 10px;
}
nav a {
    font-weight: 90px;
    padding-right: 10px;
    color: black;

}
.logo img {
    height: 50px;
    margin-right: 10px;
}
.logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;

}
nav a:hover {
    color: rgb(91, 143, 39);
}
form{
    width: 400px;
    height: 400px;
   background-color:mediumseagreen;
   align-items: center;
   border: 3px solid black;
   border-style: dotted;
   text-align: center;
   border-radius: 10px;
   
}